.card {
    padding: var(--spacers-dp12);
    margin-bottom: var(--spacers-dp12);
}

.cardText {
    font-size: 14px;
}

.card h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.card p {
    margin-top: 0;
    margin-bottom: 5px;
}

.title {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.validTitle {
    composes: title;
    color: var(--colors-green600);
}

.invalidTitle {
    composes: title;
    color: var(--colors-red600);
}

details[open] .cardHeader {
    margin-bottom: var(--spacers-dp12);
}
