.table td:first-child {
    width: 20%;
}

.notificationIconBusy {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1500ms infinite;
    width: 0px;
}

.message {
    word-break: break-word;
}

@keyframes ellipsis {
    to {
        width: 14px;
    }
}
