.selectsContainer {
    display: flex;
}

.organisationUnitTreeContainer {
    display: flex;
}

.left {
    flex: 1 0;
    height: 280px;
    overflow: auto;
}

.right {
    flex: 2 0;
    margin-left: 1rem;
}

.organisationUnitTreeCard {
    margin-top: 10px;
}
