.left {
    display: inline-block;
    height: 280px;
    width: 350px;
    overflow: auto;
    padding: 4px;
    margin: 4px 0;
    vertical-align: top;
}

.right {
    width: 475px;
    display: inline-block;
    z-index: 1;
    background: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ouLabel {
    background: rgba(0,0,0,0.05);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1px 6px 1px 3px;
    font-style: italic;
}

.organisationUnitTreeCard {
    margin-top: 10px;
}