.pagination {
    margin: var(--spacers-dp16) 0;
}

.header {
    display: flex;
    align-items: center;
}

.lockExceptionsTable {
    margin-bottom: 16px;
}

.lockExceptionsTable .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lockExceptionsTable tr th {
    font-size: 14px !important;
    letter-spacing: 0.7px !important;
}

.lockExceptionsTable tr {
    color: #757575 !important;
}

.lockExceptionsTable tr {
    color: #000000 !important;
}

.lockExceptionsTableHeader tr th {
    font-size: 24px !important;
    letter-spacing: 1.2px !important;
    color: #000000 !important;
}

.lockExceptionsTableHeader tr {
    height: 78px !important;
}

.lockExceptionsTable tr:nth-child(even) {
    background-color: #fafafa;
}

.lockExceptionsTable tr:nth-child(odd) {
    background-color: #ffffff;
}

.lockExceptionDialog h3 {
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: #757575;
}

.lockExceptionDialog span {
    display: block;
    font-family: Roboto;
    font-size: 14px;
    color: #000000;
}

.marginForAddButton {
    margin-bottom: 60px;
}

.backArrowIcon {
    margin-right: 20px;
}

.headerDivider {
    margin: 0 10px 0 10px;
}

.subHeader {
    font-weight: 500;
}
