.pagination {
    margin: var(--spacers-dp16) 0;
}

.headerContainer {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacers-dp16);
}

.header {
    display: flex;
    align-items: center;
    margin: 0;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.lockExceptions {
    margin-bottom: 16px;
}

.lockExceptions tr th {
    font-size: 14px !important;
    letter-spacing: 0.7px !important;
}

.lockExceptions tr {
    color: #757575 !important;
}

.lockExceptions tr {
    color: #000000 !important;
}

.lockExceptionsHeader tr th {
    font-size: 24px !important;
    letter-spacing: 1.2px !important;
    color: #000000 !important;
}

.lockExceptionsHeader tr {
    height: 78px !important;
}

.lockExceptionDialog h3 {
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: #757575;
}

.lockExceptionDialog span {
    display: block;
    font-family: Roboto;
    font-size: 14px;
    color: #000000;
}

.marginForAddButton {
    margin-bottom: 60px;
}

.backArrowIcon {
    margin-right: 20px;
}

.headerDivider {
    margin: 0 10px 0 10px;
}

.subHeader {
    font-weight: 500;
}

.card {
    padding: var(--spacers-dp16);
}

.addLockExceptionButton {
    margin-top: var(--spacers-dp12);
}
