.resourceTableActionButton {
  background-color: #ff9800;
  height: 36px;
  color: white !important;
}

.resourceTableGridContainer {
  margin-bottom: 42px !important;
}

.resourceTableTitle {
  display: block;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-align: left;
  color: #000000;
}

.resourceTableSubTitle {
  display: block;
  color: #bcbcbc;
}
