.organisationUnitTree {
    flex: 1 0;
    height: 280px;
    overflow: auto;
    border: 1px solid var(--colors-grey400);
    padding: var(--spacers-dp4);
}

.right {
    flex: 2 0;
    margin-left: 1rem;
}

.organisationUnitSelectionCard {
    display: flex;
    color: var(--colors-grey900);
    box-shadow: 0 0 0 1px var(--colors-grey500);
    margin-top: var(--spacers-dp8);
    padding: var(--spacers-dp12)
}
