.card {
    padding: var(--spacers-dp16);
}

.header {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    margin-bottom: var(--spacers-dp32);
}

.label {
    font-size: 14px;
    line-height: 24px;
}

.left {
    flex: 1 0;
}

.right {
    flex: 2 0;
    margin: 0 10px 0 10px;
    height: 325px;
}

.tree {
    height: 100%;
    overflow: auto;
}
