.card {
    padding: var(--spacers-dp16);
}

.header {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    margin-top: var(--spacers-dp16);
    margin-bottom: var(--spacers-dp32);
}

.label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: var(--spacers-dp4);
}

.left {
    flex: 1 0;
}

.right {
    flex: 2 0;
    margin: 0 10px 0 10px;
    height: 325px;
}

.tree {
    height: 100%;
    overflow: auto;
}

.select {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 13px;
}

.tree, .select {
    border: solid 1px var(--colors-grey500);
}

.options {
    padding: var(--spacers-dp4) var(--spacers-dp8);
}
