.success > div {
    background-color: #8ac542 !important;
    color: #ffffff !important;
}

.loading > div {
    background-color: #757575 !important;
}

.warning > div {
    background-color: #FFA726 !important;
}

.error > div {
    background-color: #F44336 !important;
}
