.list {
    paddingTop: 0;
    paddingBottom: 0;
    backgroundColor: transparent;
    marginTop: 16;
}

.item {
    fontSize: 14;
    borderRadius: 5;
    margin: 0 8px;
}

.itemLink {
    color: rgba(0, 0, 0, 0.87);
    textDecoration: none;
    margin: 0;
}

.active {
    color: #2196f3;
    textDecoration: none;
}

.activeItem {
    fontSize: 14;
    fontWeight: 700;
    color: #2196f3;
    backgroundColor: #e0e0e0;
    borderRadius: 5;
    margin: 0 8px;
}

.sidebar {
    backgroundColor: #f3f3f3;
    overflowY: auto;
    width: 295px;
}