container {
    padding: 16px 32px 0 24px;
    position: relative;
    flex: 1;
}

closeButton {
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: .75rem;
    font-size: 1rem;
    color: #AAA;
}

.list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: transparent !important;
    margin-top: 16px !important;
}

.item {
    font-size: 14px !important;;
    border-radius: 5px !important;;
    margin: 0 8px !important;;
}

.itemLink {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    margin: 0;
}

.active {
    color: #2196f3;
    text-decoration: none;
}

.activeItem {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #2196f3 !important;
    background-color: #e0e0e0 !important;
    border-radius: 5px !important;
    margin: 0 8px !important;
}

.sidebar {
    background-color: #f3f3f3;
    overflow-y: auto;
    width: 295px;
}

.leftBar {
    width: 295px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    padding-top: 3rem;
}
