.listWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--colors-white);
}

.listDetailsWrapper {
    display: grid;
    grid-template-columns: 392px minmax(400px, 1fr);
    height: 100%;
    overflow: auto;
}

.listDetailsWrapper > * {
    overflow-y: auto;
}

.listItem {
    box-shadow: 0px -1px 0px 0px var(--colors-grey300) inset;
    padding: 16px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 69px;
    cursor: pointer;
}

.listItem.selected {
    background-color: var(--colors-grey100);
    box-shadow: 4px 0px 0px 0px var(--colors-blue700) inset;
    cursor: initial;
}

.listItem header {
    font-size: 14px;
    font-weight: 500;
}

.listItem .checkInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.listItem .subtitle {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 4px;
    color: var(--colors-grey700);
}

.subtitleSection {
    flex-shrink: 0;
}

.statusIcon {
    flex-shrink: 0;
}

.listToolbar {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 8px 8px 16px;
    border-width: 1px 0px 1px;
    border-style: solid;
    border-color: var(--colors-grey400);
}

.toolbarTabs {
    border-width: 1px 0px 0px;
    border-style: solid;
    border-color: var(--colors-grey400);
    box-shadow: none;
}

/* disable borders and shadows from UI TabBar and Tab
Prevents "double" border
*/
.toolbarTabs div, .toolbarTabs button {
    box-shadow: none;
    border: none !important;
}


.errorIcon {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.searchInput {
    width: 180px;
}
