.listDetailsWrapper {
    display: grid;
    grid-template-columns: 392px auto;
    height: 100%;
    height: calc(100vh - 189px)
}

.listDetailsWrapper > * {
    overflow-y: scroll;
}

.listItem {
    box-shadow: 0px -1px 0px 0px #e8edf2 inset;
    padding: 16px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 69px;
    cursor: pointer
}

.listItem.selected {
    background-color: var(--colors-grey100);
    box-shadow: 4px 0px 0px 0px #1565C0 inset;
    cursor: initial;
}

.listItem header {
    font-size: 14px;
    font-weight: 500;
}

.listItem .checkInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.listItem .subtitle {
    display: flex;
    font-size: 12px;
    gap: 12px;
    color: var(--colors-grey700)
}

.statusIcon {
    flex-shrink: 0;
}

.listToolbar {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 8px 8px 16px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #d5dde5;
}

.errorIcon {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.searchInput {
    width: 180px;
}


.chooseCheckMessage {
    text-align: center;
    color: var(--colors-grey700);
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: var(--spacers-dp16);
    justify-content: center;
}