.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.row > [class^="col-"] {
    padding: 0.5em;
}

.col-sm-12 {
    width: 100%;
}

@media (min-width: 992px) {
    .row > [class^="col-md-"] {
        flex: 0 0 auto;
    }

    .col-md-4 {
        width: 33.3333333333%;
    }

    .col-md-6 {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .row > [class^="col-lg-"] {
        flex: 0 0 auto;
    }

    .col-lg-4 {
        width: 33.3333333333%;
    }
}
