.grid {
    max-width: 800px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: var(--spacers-dp16);
}

@media (min-width: 800px) {
    .grid {
        grid-template-columns: auto auto;
    }
}
