.statistics-table {
    margin-bottom: 16px;
}

.statistics-table-header tr th {
	font-size: 24px !important;
	letter-spacing: 1.2px !important;
	color: #000000 !important;
}

.statistics-table-header tr {
    height: 78px !important;
}

.statistics-table tr:nth-child(even) {
    background-color: #fafafa;
}

.statistics-table tr:nth-child(odd) {
    background-color: #ffffff;
}
