.card {
    display: block !important;
    margin-bottom: 24px;
    height: unset !important;
    max-width: 400px;
}

.tablesGrid {
    display: grid;
    grid-template-columns: auto;
    column-gap: 2rem;
}

@media (min-width: 960px) {
    .tablesGrid {
        grid-template-columns: auto auto;
    }
}

.dataStatisticsDescription {
    display: inline-block;
    margin-block-start: 4px;
    font-size: 13px;
    font-weight: 400;
}
