.statisticsTable {
  margin-bottom: 16px;
}

.statisticsTable th {
	font-size: 14px !important;
	letter-spacing: 0.7px !important;
	color: #757575 !important;
}

.statisticsTable tr {
	font-size: 14px !important;
	letter-spacing: 0.7px !important;
	color: #000000 !important;
}

.statisticsTable tr:nth-child(even) {
  background-color: #fafafa;
}

.statisticsTable tr:nth-child(odd) {
  background-color: #ffffff;
}
