.notification-icon-busy {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1500ms infinite;
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 14px;
    }
}
