.header {
    display: flex;
    align-items: center;
}

.card {
    min-width: 400px;
}

.maintenanceGridContainer {
    margin-top: 8px !important;
    margin-bottom: 42px !important;
}

.maintenanceCheckAll {
    display: block;
}

.maintenanceControl {
    padding: 8px;
}
