.card {
    padding: var(--spacers-dp16);
}

.description {
    margin-bottom: var(--spacers-dp16);
}

.description > div {
    margin-bottom: var(--spacers-dp12);
}

.tableName {
    color: var(--colors-grey600);
    margin-left: var(--spacers-dp4);
}

.noticeBox {
    margin-bottom: var(--spacers-dp16);
}
