html {
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 3rem;
  margin-right: 20px;
}

.contentArea {
  padding-left: 295px;
  min-width: 400px;
  margin-bottom: 64px;
}

h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: rgba(0, 0, 0, 0.87);
  padding: 24px 0 12px 16px;
}

.list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: transparent !important;
  margin-top: 16px !important;
}

.item {
  font-size: 14px !important;;
  border-radius: 5px !important;;
  margin: 0 8px !important;;
}

.itemLink {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  margin: 0;
}

.active {
  color: #2196f3;
  text-decoration: none;
}

.activeItem {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #2196f3 !important;
  background-color: #e0e0e0 !important;
  border-radius: 5px !important;
  margin: 0 8px !important;
}

.sidebar {
  background-color: #f3f3f3;
  overflow-y: auto;
  width: 295px;
}

.leftBar {
  width: 295px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  padding-top: 3rem;
}

