html {
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: rgba(0, 0, 0, 0.87);
}

.contentArea {
    padding: 4rem 20px 20px 20px;
}

.contentWrapper {
    margin-left: 295px;
    max-width: 1400px;
}

.leftBar {
  width: 295px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  padding-top: 3rem;
}

.maxWith {
    max-width: 1400px;
}
