html {
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}

.leftBar {
  width: 295px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  padding-top: 3rem;
}

.contentWrapper {
  margin-left: 295px;
}

.contentArea {
  padding: 4rem 20px 20px 20px;
}

h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: rgba(0, 0, 0, 0.87);
}

