.container {
    display: grid;
    height: 100%;
    grid-template-areas: 'sidebar main';
    grid-template-columns: 300px auto;
    grid-template-rows: 100%;
    overflow: auto;
    color: var(--colors-grey900);
}

.sidebar {
    grid-area: sidebar;
    padding-top: var(--spacers-dp4);
    height: 100%;
    background: var(--colors-grey200);
    border-right: 1px solid var(--colors-grey400);
}

.content {
    position: relative;
    grid-area: main;
    background: var(--colors-grey100);
}

.contentWrapper {
    max-width: 960px;
    margin: var(--spacers-dp16);
}

.contentWrapper.fullscreen {
    height: 100%;
    max-width: none;
    margin: 0;
}
