.contentArea {
    padding: 4rem 20px 20px 20px;
}

.contentWrapper {
    margin-left: 295px;
    max-width: 1400px;
}

.leftBar {
  width: 295px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  padding-top: 3rem;
}

.maxWith {
    max-width: 1400px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
