.gridElement {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 8px;
    min-height: 218px;
    min-width: 200px;
}

.gridTitleBar {
    position: relative;
    margin-top: 30px;
    height: 42px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.gridTitleDescription {
    font-size: 24px;
    text-align: left;
    color: #000000;
}

.gridIcon {
    float: right;
    color: #757575 !important;
    font-size: 50px !important;
}

.gridDescription {
    font-size: 14px;
    text-align: left;
    color: #757575;
    margin-top: 42px;
    display: block;
}

.gridActionText {
    position: absolute;
    bottom: 20px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #2196f3;
}
